body {
    padding-left: 200px;
    padding-right: 200px;
}

.bold-text{
    font-weight: bold;
    /* font-size: 20px; */
}
.red-text {
    color: red;
}

.input-text {
    border: 1px solid black;
    border-radius: 5px;
    font-size: 16px;  
}

.normal-text {
    font-size: 16px;
}

.salary, .region, .dependant {
    margin-bottom: 20px;
}

.btn {
    background-color: #3CCF4E;
    font-size: 20px;
    border-radius: 5px;
    color: #ffffff;
    border: 1px solid white;
    padding: 10px 20px;
    font-weight: 500;
    line-height: 24px;
}

.btn:hover {
    cursor: pointer;
}

#region{
    width: 50px;;
}

#numberOfDependant {
    width: 100px;
}

.hide {
    display: none;
}

.display {
    color:#3CCF4E;
}

#net-salary {
    color: red;
}

.grey-background {
    background-color: #bdbec0;
    padding: 5px;
}