/* Header logo */
.header-logo {
    /* Layout Properties */
    top: 0px;
    left: 0px;
    width: 100%;
    height: 35px;
    /* UI Properties */
    background: #525A5C 0% 0% no-repeat padding-box;
    opacity: 1;
    text-align: center;
    vertical-align: middle;
}

/* Navigation */
.social-header,
.main-nav,
.header-banner,
.categories,
.main-content {
    padding-left: 250px;
    padding-right: 250px;
}

/* Social header bar  */

.social-header {
    padding-top: 20px;
    padding-bottom: 50px;
}

.ai-logo {
    /* Layout Properties */
    top: 65px;

    width: 200px;
    height: 28px;
    float: left;
    /* UI Properties */
    opacity: 1;
}

.social {
    /* display: inline-block; */
    float: right;
}

.social a {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

i {
    color: black;
}

.btn {
    background: yellow;
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Space Mono', monospace;
    font-size: 14px;
}

.fa-user {
    margin-left: 20px;
}

/* Main navigation  */
.main-nav {
    /* padding-top: 20px; */
    border: 1px solid black;
    border-left: 0;
    border-right: 0;
    box-sizing: content-box;
    /* height: 25px; */
}

.fa-bars {
    width: 16px;
    height: 13px;
    margin-right: 100px;
}

.main-nav a {
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    text-decoration: none;
    opacity: 1;
    border-left: 1px solid black;
    text-align: middle;
    font-family: 'Space Mono', monospace;
    font-size: 14px;
    padding-left: 40px;
    padding-right: 40px;
    display: inline-block;
    height: 100%;
    line-height: 3;
    vertical-align: middle;
}

.main-nav a:last-of-type {
    border-right: 1px solid black;
}

.main-nav a:hover {
    background-color: yellow;
}

.fa-magnifying-glass {
    display: inline-block;
    line-height: 2.5;
    float: right;
}

/* Header banner  */
.header-banner img {
    display: block;
    padding-left: 200px;
    padding-right: 200px;
}

.header-banner img {
    width: 100%;
    height: 190px;
    padding-top: 30px;
    /* padding-right: 156px; */
    padding-bottom: 30px;
    /* padding-left: 156px; */
    /* margin-left: 0 auto;
    margin-right: 0 auto; */

}

/* Categories  */
.category-item {
    display: inline-block;
    border: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 5px;
    color: var(--black);
    text-align: left;
    font-family: 'Rubik', sans-serif;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1px;
    color: #000000;
    opacity: 1;
    font-weight: 500;
    text-decoration: none;
}

.category-item:hover {
    background-color: #000000;
    color: white;
    opacity: 1;
}

/* Main content  */
/* Title  */
.main-content>.row>.container>.title {
    font-size: 36px;
    font-family: 'Rubik', sans-serif;
    line-height: 50px;
    font-weight: 500;
    letter-spacing: 0px;
    color: #000000;
    padding-top: 20px;
}

.sub-title {
    color: #666666;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    font-weight: medium;
    letter-spacing: 0px;
    opacity: 1;
}

/* Author  */
.author {
    padding-top: 40px;
    display: inline-block;
}

.author-ava {
    float: left;
    width: 48px;
    height: 48px;
    margin-right: 5px;
}

.author-info {
    display: inline-block;
}

.author-info> .author-name {
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    font-weight: bold;
    opacity: 1;
    line-height: 20px;
}

.author-info> .date {
    font-family: 'Rubik', sans-serif;
    font-size: 12px;
    letter-spacing: 0px;
    color: #666666;
    opacity: 1;
    line-height: 18px;
}
/* .mask-group  {
    display: flex;
} */

.mask-group > .author {
    display: flex;
    justify-content: flex-start;
}
.mask-group > .time {
    /* float: right;
    display: inline-block; */
    display: flex;
    justify-content: end;
    /* align-items: flex-start; */
}

.time-read {
    display: inline-block;
    font-size: 14px;
    font-family: 'Rubik', sans-serif;
    text-align: right;
    color: #666666;
    margin-left: 10px;
}

.fa-clock {
    width: 14px;
    height: 14px;
    color: #666666;
}

/* Content image  */
.content-image img {
    width: 100%;
    height: 368px;
    padding-top: 30px;
    padding-bottom: 10px;
}

.caption>.image-des {
    letter-spacing: 0px;
    color: #333333;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    line-height: 28px;
    display: inline-block;
}

.caption>.source-image {
    display: inline-block;
    font-family: 'Rubik', sans-serif;
    font-size: 12px;
    line-height: 28px;
    color: #666666;
    text-transform: uppercase;
    padding-bottom: 20px;
}

/* Social  */
.social-share {
    padding-bottom: 20px;
}

.social-share a {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

/* Sponsor  */
.sponsor {
    padding-bottom: 20px;
}

.sponsor img {
    width: 121px;
    height: 50px;
}

.sponsor-text {
    display: inline-block;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    /* font-weight: bold; */
    line-height: 28px;
    letter-spacing: 0px;
    color: #333333;
    opacity: 1;
    margin-left: 10px;
    padding-bottom: 20px;
}

/* Summary  */
.summary {
    background: #F4F5F7 0% 0% no-repeat padding-box;
    opacity: 1;
    padding-top: 20px;
}

.summary h3 {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    font-size: 22px;
    line-height: 30px;
    padding-top: 0px;
    padding-left: 25px;
    padding-bottom: 10px;
}

.summary-item {
    /* padding-left: 24px; */
    padding-bottom: 15px;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    line-height: 30px;
}

.summary-item ul li {
    margin-bottom: 10px;
    border-left: 5px solid black;
    list-style: none;
    margin-bottom: 20px;
    padding-left: 15px;
}

/* Content  */
.section {
    padding-top: 40px;
    padding-bottom: 2px;
}

.section h2 {
    font-family: 'Rubik', sans-serif;
    font-size: 26px;
    line-height: 42px;
    color: #000000;
}

.section p {
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0px;
    color: #333333;
    opacity: 1;
    padding-top: 20px;
    padding-bottom: 10px;
}

/* Image  */
.section>.image {
    background-color: #F7F7F7;
    opacity: 1;
    /* width: 680px; */
    height: 314px;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.section img {
    width: 300px;
    height: 250px;
}

/* Also read  */
.section>.also-read {
    border: 0.1px solid #CCCCCC;
    border-left: 0;
    border-right: 0;
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    line-height: 30px;
}

/* Block quote  */

blockquote {
    border-left: 7px solid #CCCCCC;
    padding-left: 30px;
}

.fa-quote-left {
    width: 27px;
    /* height: 56px; */
    color: #CCCCCC;
    opacity: 1;
    font-size: 70px;
}

.quote-text {
    font-family: 'Rubik', sans-serif;
    font-size: 22px;
    line-height: 34px;
    color: #333333;
    opacity: 1;
    font-weight: 500;
}

.block-quote p {
    padding-top: 0;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    line-height: 28px;
}

/* Related  */

.related {
    border: 0.1px solid #CCCCCC;
    border-left: 0;
    border-right: 0;
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    line-height: 30px;
}

/* Read more  */
.read-more {
    padding-top: 10px;
}

.read-more h4 {
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    line-height: 30px;
    font-weight: bold;
    color: #000000;
    letter-spacing: 0;
}

.read-more>ul {
    list-style: none;
    padding-left: 0;
}

.read-more li {
    border: 1px solid #000000;
    opacity: 1;
    display: inline-block;
    font-size: 14px;
    font-family: 'Rubik', sans-serif;
    line-height: 30px;
    letter-spacing: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

.read-more li:hover {
    background-color: #000000;
    color: white;
    opacity: 1;
    cursor: pointer;
}

.social-share {
    padding-top: 10px;
}

.social-share>.social-item {
    margin-right: 15px;
}

/* About the author  */

.about-authors h2 {
    font-family: 'Space Mono', monospace;
    font-size: 26px;
    font-weight: bold;
    line-height: 42px;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    padding-top: 10px;
    padding-bottom: 10px;
}

.about-authors>.author-item {
    border: 1px solid #000000;
    padding: 20px;
    /* display: inline-block; */
    margin-top: 20px;
}

.about-authors>.author-item>.author-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-authors>.author-item > .author-ava {
    width: 96px; 
    height: 96px;
    /* display: inline-block; */
    display: flex;
    align-items: center;
    padding-right: 20px;
    justify-content: center;
}


.about-authors>.author-item>.author-info>.author-name {
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    line-height: 30px;
    font-weight: bold;
    color: #000000;
    letter-spacing: 0;
}

.about-authors>.author-item>.author-info>.author-title {
    font-size: 14px;
    font-family: 'Rubik', sans-serif;
    line-height: 28px;
    font-weight: medium;
    color: #666666;
    letter-spacing: 0;
}

.about-authors>.author-item>.author-info>.author-summary {
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    line-height: 30px;
    font-weight: medium;
    color: #333333;
    letter-spacing: 0;
}

/* Sign up block */

.newsletter-promo {
    border: 1px solid #000000;
    padding: 30px;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.signup-text {
    font-family: 'Space Mono', monospace;
    font-size: 22px;
    font-weight: bold;
    line-height: 30px;
    letter-spacing: 0px;
    color: #333333;
    
}

.latest {
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    line-height: 28px;
}

.newsletter-promo > .btn {
    font-family: 'Space Mono', monospace;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    letter-spacing: 0px;
    color: #000000;
}

.newsletter-promo > .btn:hover {
    background-color: #FFF370;
}

.right-panel {
    overflow: hidden;
}