* {
    font-family: 'Source Sans Pro', sans-serif;
    /* margin-left: 0px;
    margin-right: 15px; */
}

body {
    margin: 0;
    padding: 0;
    /* margin: 0 15px; */
}

.container {
    margin-top: 56px;
}

/* Navigation */
nav {
    position: fixed;
    width: 100%;
    margin-left: 0px;
    float: left;
    top: 0;
    padding: 15px 20px;
    background: #54BAB9;
    z-index: 1;
}

nav ul {
    list-style: none;
    padding: 0;
}

.nav-item {
    float: left;
}

nav li a {
    text-decoration: none;
    color: white;
    font-size: large;
    text-align: center;
    font-weight: 700;
}

nav a:hover {
    background: #FFB3B3;
}

/* .intro */
.intro {
    position: relative;
    width: 100%;
}

.intro .name {
    display: block;
    font-size: 32px;
}
/* .col-md-2 {
    display: inline-block;
} */

.cover-img {
    width: 100%;
}



/* .quote */
.quote {
    width: 100%;
}

.quote h1, .quote p {
    margin-left: 28px;
}

.quote p {
    font-size: 16px;
}

.quote .image-container {
    padding: 10px;
    text-align: center;
    /* margin-left: 28px; */
}

.quote .image-container img {
    width: 100%;
}

.quote .image-container>div {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* form */
#form {
    /* margin-left: 28px;
    margin-right: 110px; */
    border-radius: 5px;
    /* background-color: #E7F6F2; */
    font-size: 16px;
    padding: 10px;
}

.col-sm-12 {
    margin-top: 10px;
}

/* input[type=text],
textarea {
    width: 15%;
    padding: 4px 6px;
    display: inline-block;
    border-radius: 5px;
    border: 1px solid;
    margin-top: 6px;
    margin-bottom: 16px;
} */

.text-type label {
    font-weight: bold;
}

input[type=radio] {
    margin-top: 10px;
}

.radio-btn:last-child {
    margin-bottom: 20px;
}

#message {
    margin-top: 10px;
    display: block;
}

.submit-btn {
    background-color: #54BAB9;
    font-size: 16px;
    border-radius: 5px;

}

.submit-btn:hover {
    background-color: #FFB3B3;
    cursor: pointer;
}

/* footer */
footer {
    text-align: center;
    font-size: 26px;
}

footer p {
    font-weight: bold;
    color: #54BAB9;
    margin-bottom: 10px;
}